@model Userbox.Models.APIAnagraficaCarriera

@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>Anagrafica</h4>
    <hr />

    <div class="box box-body">
    <div class="form-horizontal">
    <div class="col-md-4">

        @if (Model!=null){
            <dl>
            
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
           
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod_fiscale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod_fiscale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazione_nascita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazione_nascita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazione_nascita_nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazione_nascita_nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comune_nascita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comune_nascita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comune_nascita_nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comune_nascita_nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_nascita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_nascita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFineValiditaUtente)
        </dt>
        <dd class = "col-sm-10">
              @{ 
                            if (Model.DataFineValiditaUtente.HasValue)
                            {
                                    @Html.DisplayFor(model => model.DataFineValiditaUtente)
                                }
                                else
                                {
                                <p style="display:inline">N.D.</p>
                                }
                            }


             
        </dd>

          @if (Model.Ospite != null)
                    {
                                <div style="border:1px solid #eee">
                                    <dt><u style="font-size:18px;color: #043659;">Ospite</u></dt>
                                    <dd></dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Ospite.Mail)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Ospite.Mail)
                                    </dd>


                                    <dt>
                                        @Html.DisplayNameFor(model => model.Ospite.Data_aggiornamento)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Ospite.Data_aggiornamento)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Ospite.Data_inizio)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Ospite.Data_inizio)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Ospite.Data_fine)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Ospite.Data_fine)
                                    </dd>
                                    
                                 
                                </div>


                    }
       
    </dl>
    }
    </div>
</div>

</div>
</div>